@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
</div>
<div class="row">
    <div class="col">
        Use this tool to compare the annual cost in different products
    </div>
</div>
<div class="row">
    <div class="col">
        <form id="annualCostForm">
            <div class="form-group">
                <label for="consumption">Annual consumption in kWh</label>
                <input id="txtConsumption" name="consumption" type="number" step=".01" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Estimate</button>
        </form>
    </div>
</div>
<div id="results" class="row">
    <div class="col">
        <p>Here are the costs for different products</p>
        <table id="resultTable" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Annual Cost</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        // init calculator
        setupCalculator();
    </script>
}
