
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>
<div id="prodList" class="row">
    <div class="col">
        <p>Here are the available products</p>
        <table id="productsTable" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Base cost</th>
                    <th scope="col">Additional cost</th>
                    <th scope="col">Cost model</th>
                    <th scope="col">Threshold</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div id="prodForm" class="row mt-3">
    <div class="col">
        <p>Create new product</p>
        <form id="productEditForm">
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input id="txtId" type="text" class="form-control" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input id="txtName" name="name" type="text" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="baseCost" class="col-sm-2 col-form-label">Base cost (€)</label>
                <div class="col-sm-8">
                    <input id="txtBaseCost" name="baseCost" type="number" class="form-control" step=".01" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="addedCost" class="col-sm-2 col-form-label">Additional cost (€)</label>
                <div class="col-sm-8">
                    <input id="txtAddedCost" name="addedCost" type="number" class="form-control" step=".01" required />
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Cost model</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model" id="modelMontlyRadio" value="1" checked>
                            <label class="form-check-label" for="modelMontlyRadio">Monthly</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model" id="modelYearlyRadio" value="2">
                            <label class="form-check-label" for="modelYearlyRadio">Yearly</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <label for="threshold" class="col-sm-2 col-form-label">Threshold (kWh)</label>
                <div class="col-sm-8">
                    <input id="txtThreshold" name="threshold" type="number" step=".01" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        // init product grid
        setupProductGrid();
    </script>
}
